.main-logo-company__subtitle {
    font-size: 15px;
    text-align: left;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 320px) {
    .main-logo-company__subtitle {
        font-size: 15px;
        text-align: left;
        margin: auto;
        width: 100%;
        max-width: 1200px;
        box-sizing: border-box;
        padding-left: 12px;
    }
}

.main-logo-company__title {
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
    max-width: 1200px;
    line-height: 1.3;
}

@media (min-width: 320px) {
    .main-logo-company__title {
        font-size: 34px;
        font-weight: bold;
        text-align: left;
        line-height: 1.3;
        box-sizing: border-box;
        margin: auto;
        padding: 12px 12px 30px;
    }
}

@media (min-width: 768px) {
    .main-logo-company__title {
        font-size: 38px;
        font-weight: bold;
        text-align: left;
        line-height: 1.3;
        box-sizing: border-box;
        margin: auto;
        padding: 12px 12px 30px;
    }
}

@media (min-width: 1200px) {
    .main-logo-company__title {
        font-size: 42px;
        font-weight: bold;
        text-align: left;
        line-height: 1.3;
        box-sizing: border-box;
    }
}

.image-container {
    box-sizing: border-box;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-button {
    width: 100%;
    box-sizing: border-box;
    padding: 7.5px;
    margin: auto;
}

@media (min-width: 760px) {
    .image-container {
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
}

@media (min-width: 990px) {
    .image-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: auto;
    }
}



/* .main-logo-company__subtitle {
    font-size: 15px;
    text-align: left;
    max-width: 1200px;
    margin: auto;
    padding: 75px 0px 15px;
} 

@media {
    .main-logo-company__subtitle {
        font-size: 15px;
        text-align: left;
        min-width: 320px;
        margin: auto;
        padding-left: 30px;
    }
} 

.main-logo-company__title {
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    margin: auto;
} 

@media { .main-logo-company__title {
        font-size: inherit;
        font-weight: bold;
        text-align: left;
        margin: auto;
        padding: 0;
        border: 0;
        width: 100%;
        vertical-align: baseline;
        box-sizing: border-box;
        text-align: left;
    }
} 

 .image-container-item {
    aspect-ratio: 2 / 1;
     width: 100%;
     margin: auto;
     position: relative;
 }

 .image-button {
    width: 100%;
    margin: auto;
    position: relative;

 }


 @media (min-width: 320px) {
     .image-container-item {
         width: 256px;
         display: grid;
         grid-template-columns: 1fr 1fr;
     }
 }

 @media (min-width: 760px) {
     .image-container-item {
        width: 670px;
         display: grid;
         grid-template-columns: 1fr 1fr;
     }
 }

 @media (min-width: 990px) {
     .image-container-item {
        width: 570px;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
     }
 }

  */