body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(../img/baground.jpg);
}

button {
    padding: 25px;
    font-size: 30px;
    cursor: pointer;
}

/* .mode {
    position: fixed;
    top: 10px; 
    left: 10px; 
    cursor: pointer;
} */
 #addTimeButton1 {
    position: fixed;
    top: 10px; 
    left: 10px; 
    cursor: pointer;
    padding: 15px; 
    font-size: 15px; 
    cursor: pointer;
    background-color: green;
}

.mode .button2 {
    padding: 15px; 
    font-size: 15px; 
    cursor: pointer;
    background-color: yellow;
}

.mode .button3 {
    padding: 15px; 
    font-size: 15px; 
    cursor: pointer;
    background-color: red;

}


#timer {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
}

#restartButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

#history {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    color: white;
}